npm install react-router-dom localforage match-sorter sort-by
npm install -D tailwindcss postcss autoprefixer
npx tailwindcss init -p
npm install firebase
npm i -D daisyui@latest
npm i dotenv
npm install react-icons
npm i react-dnd